/* === General styles === */
/* Buttons */

.btn
  border 0
  padding 5px 10px
  cursor pointer
  display inline-block
  vertical-align top
  background #3ba2dd
  color #fff
  font-size 14px
  border 1px solid #3783b0
  &.red-button
    background #53b2ea

.btn-block 
  display block

.btn-logout
  color #c7c7c7
  display inline-block
  height 100%
  background none
  border 0
  span
    position relative
    top 30%
    transform translateY(-30%)
  &:hover
    background none
    color #fff

/* Messages */
