.content.padding-top-55
  h1 {{user.username}}
  .user-weiners
    .col-50
      span.weiner-count {{numSent}}
      span.block nakkia lähtetty
    .col-50
      span.weiner-count {{numReceived}}
      span.block nakkia saatu
  .col-50
    h2 Lähetetyt nakit
    .user-weiners-list
      .weiner(ng-repeat='weiner in sentWeiners | orderBy:"-created"')
        span.status(ng-class='{"green": weiner.status === "DONE", "gray": weiner.status === "IN PROGRESS"}')
        span.who-weiner {{weiner.weinerFrom.username}} nakitti:
        span.block.weiner-text {{weiner.content}} 
        span.user-image.inline-block(ng-repeat='user in weiner.weinerTo')
          img(ng-src='{{user.avatar}}')

  .col-50
    h2 Saadut nakit
    .user-weiners-list
      .weiner.profile-weiner(ng-repeat='weiner in receivedWeiners | orderBy:"-created"' ng-click='setChecked()')
        span.status(ng-class='{"green": weiner.status === "DONE", "gray": weiner.status === "IN PROGRESS"}')
        span.who-weiner {{weiner.weinerFrom.username}} nakitti:
        span.block.weiner-text {{weiner.content}}
        span.block {{weiner.weinerTo.userChecked}}
        span.user-image.inline-block(ng-repeat='user in weiner.weinerTo')
          img(ng-src='{{user.avatar}}')
        button.btn.btn-block.btn-weiner(ng-click='setDone()' ng-if='weiner.status === "IN PROGRESS"')
          i.fa.fa-check-circle
          | Valmis