header.header
  .header-user
    span.user-image
      img(ng-src='{{user.avatar}}')
    span.user-name 
      span(ng-if='user.displayName') {{user.displayName}}
      span(ng-if='!user.displayName') {{user.username}}
  .header-logout
    a.btn.btn-block.btn-logout(href='/api/logout') 
      span Kirjaudu ulos

.weiner
  .weiner-left.col-20
    .user-list
      .list-item(ng-repeat='user in users' ng-click='addToWeinerList()')
        span {{user.username}}
  .weiner-center.col-60
    .user
      .weiner(ng-repeat='weiner in nakki.users')
        | {{weiner.username}}
      input(type='text' ng-model='nakki.content' placeholder='Kirjoita nakitettava asia')
      button.btn.btn-block.btn-weiner(ng-click='addWeiner(nakki)') nakita
  .weiner-right.col-20
    .user
      .user-weiners
        .weiner(ng-repeat='weiner in weiners')
          span.who-weiner {{weiner.weinerFrom.username}} nakitti:
          span.block.weiner-text {{weiner.content}} 
          span.user-image.inline-block(ng-repeat='user in weiner.weinerTo')
            img(ng-src='{{user.avatar}}')