.weiner.padding-top-55
  .weiner-left.col-20
    .user-list
      .list-item(ng-repeat='user in users | filter:{username: searchUser}' ng-class='{added: user.addedToList}' ng-click='addToWeinerList()' ng-class-odd='"odd"' ng-class-even='"even"')
        span.list-item-image.user-image
          img(ng-src='{{user.avatar}}')
        span.list-item-name.col-90 {{user.username}}
        span.list-item-icon.col-10
          i.fa.fa-caret-square-o-right(ng-hide='user.addedToList')
          i.fa.fa-check(ng-show='user.addedToList')
      input.user-search.col(type='text' ng-model='searchUser' placeholder='Hae k채ytt채j채채')
  .weiner-center.col-60
    .weiner
      .block
        input(type='text' ng-model='nakki.content' placeholder='Kirjoita nakitettava asia')
        button.btn.btn-block.btn-weiner(ng-click='addWeiner(nakki)' ng-disabled='nakki.weinerTo.length === 0') 
          i.fa.fa-send.fa-3x
      .block.to-be-weinered(ng-show='nakki.weinerTo.length > 0')
        h2 Nakitettavat
        span.user-image.inline-block(ng-repeat='weiner in nakki.weinerTo')
          img(ng-src='{{weiner.avatar}}')
          span.block {{weiner.username}}
  .weiner-right.col-20
    .user-weiners
      .weiner(ng-repeat='weiner in weiners | orderBy:"-created"')
        span.status(ng-class='{"green": weiner.status === "DONE", "gray": weiner.status === "IN PROGRESS"}')
        span.who-weiner {{weiner.weinerFrom.username}} nakitti:
        span.block.weiner-text {{weiner.content}} 
        span.user-image.inline-block(ng-repeat='user in weiner.weinerTo')
          img(ng-src='{{user.avatar}}')