html,
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  overflow: hidden

p
  margin: 0

a
  text-decoration: none

body
  background: #e2e2e2
  font-family: Helvetica, Arial, Verdana, sans-serif

*
  box-sizing: border-box

.navbar,
#app
  width: 75%
  margin: 0 auto
  position: relative

.navbar
  background: #098e91
  height: 55px
  border-radius: 5px 5px 0 0
  margin-top: 35px

.navbar-logo
  display: inline-block
  width: 95px
  height: 100%
  vertical-align: top
  background: url('/img/weiner-machine-logo.svg') #126664 no-repeat center center
  background-size: 55px
  border-radius: 5px 0 0 0

.navbar-nav
  display: inline-block
  vertical-align: top
  width: calc(100% - 125px)
  height: 100%

  a
    display: inline-block
    color: #fff
    height: 100%
    line-height: 55px
    padding: 0 25px

#app
  background: #eee
  height: 750px

.weiner-app
  height: 100%

.user-list
  display: inline-block
  position: relative
  width: 300px
  overflow-x: hidden
  overflow-y: auto
  height: 100%
  background: #ccc

.user-block
  background: #fff
  height: 50px
  cursor: pointer

  &:hover
    background: #f3f3f3

.user-block-image
  width: 50px
  height: 50px
  background-position: center center
  background-size: cover
  display: inline-block
  vertical-align: middle
  margin-right: 15px

.user-block-content
  display: inline-block
  vertical-align: middle
  width: calc(100% - 115px)

.weiner-list
  position: absolute
  width: 300px
  overflow-x: hidden
  overflow-y: auto
  height: 100%
  background: #ccc
  right: 0
  top: 0

.send-weiner
  display: inline-block
  width: calc(100% - 600px)
  vertical-align: top

.weiner-input
  display: inline-block
  width: calc(100% - 150px)
  padding: 17px
  border: 0
  font-size: 26px

.btn
  display: inline-block
  appearance: none
  border: 0
  padding 15px 25px
  vertical-align: top
  cursor: pointer

.btn-add-weiner
  width: 150px
  padding: 25px
  background: #00eedd

  &:disabled
    background: #ccc

.weiner-block
  display: block
  padding: 15px
  background: #fff

  &.checked
    border: 0

  &.not-checked
    border: 1px solid #00eedd

.weiner-block-title
  display: block
  font-weight: 700
  margin-bottom: 10px
  border-bottom: 1px solid #ccc

.weiner-block-user
  display: inline-block
  width: 25px
  height: 25px
  background-position: center center
  background-size: cover

.current-user-block
  position: absolute
  top: 0
  right: 0
  z-index: 10

.navbar-nav
  display: none

  &.nav-open
    display: block

.right-col
  position: absolute
  right: 0
  top: 0
