.received-weiners,
.sent-weiners
  display: inline-block
  width: 50%
  vertical-align: top

.received-weiners-list,
.sent-weiners-list
  position: relative
  width: 300px
  overflow-x: hidden
  overflow-y: auto
  height: 100%

.received-weiners-stats,
.sent-weiners-stats
  display: block
  margin-bottom: 45px

.weiner-stats-count
  font-weight: 700
  font-size: 32px
